:root {
  --lila-color: #C66CD9FF;
  --blue-dark: #3224ADFF;
  --yellow: #ffc401
}
body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
}

/* Common styles */
.btn {
  border: none !important;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: transparent;
}
.btn-yellow {
  color: white;
  background-color: var(--yellow) !important;
}
.btn-shop{
  color: var(--lila-color);
  border-color:2px solid var(--lila-color);
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: transparent;
}
.text-align-right {
  text-align: right;
}
.position-relative {
  position: relative !important;
}

.container-header {
  background: var(--lila-color);
  background: linear-gradient(45deg, var(--lila-color) 4%, var(--blue-dark) 100%);
  height: 100vh;
}
.container-header-inner {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: grid;
  grid-template-rows: 90px auto;
}
.container-header-inner > header {
  display: grid;
  align-items: center;
}
.container-image-text {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.img-header {
  height: 700px;
  position: absolute;
  bottom: -80px;
}
.header-text {
  position: absolute;
  bottom: 40%;
  right: 0;
  color: white;
  width: 500px;
}
.header-text > h2 {
  font-size: 0.7rem;
}
.header-text > h1 {
  font-weight: 900;
  font-size: 5rem;
  margin: 1rem 0 !important;
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#container-logo-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#container-logo-search > div > .text-logo {
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  margin-right: 2rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.form-control {
  width: 100%;
  border: none !important;
  padding: 10px;
  border-radius: 3px;
}
.container-menu-shop-card {
  display: grid;
  grid-template-columns: auto repeat(3, 40px);
  align-items: center;
  column-gap: 10px;
}
.button-circle {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(211, 211, 211, 0.4);
  border-radius: 20px;
  color: white;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.button-circle:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-heart:hover {
  color: red;
}
.count-product {
  height: 20px;
  width: 20px;
  background-color: var(--lila-color);
  color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 0.7rem;
}
.item-menu {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

/*body context*/
.container-body{
  background: #f6e9f6;
  height: 100vh;
}
.row > section{
  margin: 0px 5%;
  display: grid;
  width: 90%;

  align-items: center;

}
.container-title-body{
  display: grid;
  margin-top: 35px;
  margin-bottom: 35px;
  place-content: center center;
}

.container-title-body > h3{
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.container-title-body > h2{
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container-items-body{
  display: grid;
  grid-template-columns: 500px auto;
  gap: 30px;
}
.container-perspiciatis-item{
  background-color: white;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  display: grid;
}
.container-perspiciatis-item > img{
  width: 350px;
  height: 150px;
  position: absolute;
  align-self: flex-end ;
  margin-left: 12rem;
}
.perspiciatis-item{
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
}
.perspiciatis-item > h5{
  color:   #c0c0c2;
  font-size: 13px;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}
.perspiciatis-item > h2{
  margin-bottom: 10px;
}
.container-items{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.container-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  overflow: hidden;
}
.item-content{
  background: #ffffff;
  border-radius: 7px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.item-content-text{
  position: absolute;
}
.item-content-text > h2, h5 {
  width: 50%;
  margin-left: 35px;
  margin-bottom: 10px;
 }
.item-content-text  > h5 {
  margin-top: 0px;
}
.item-content > img{
  height: 270px;
  width:220px;
  display: grid;
  position: absolute;
  margin-left: 140px;
}
.container-inventore-item{
  background: #ffffff;
  border-radius: 7px;
  display: grid;
  overflow: hidden;
  position: relative;
  align-self: flex-end;

}
.context-inventore{
  margin-left: 35px;
  margin-bottom: 30px;
}
.context-inventore > h2{
  margin-bottom: 10px;
}
.context-inventore > h5{
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  color:   #c0c0c2;
}
.container-inventore-item > img{
  width: 350px;
  height: 180px;
  position: absolute;
  margin-left: 380px;
  margin-top: -20px;
}