:root {
  --lila-color: #C66CD9FF;
  --blue-dark: #3224ADFF;
  --yellow: #ffc401;
  --white1: #FDF2FF;
  --white: #FFFFFF;
  --morado: #BC7DC3;
  --plomo: #9F9F9F;
  --oscuro: #343434;

}
body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
}

/* Common styles */
.btn {
  border: none !important;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: transparent;
}
.btn-yellow {
  color: white;
  background-color: var(--yellow) !important;
}
.text-align-right {
  text-align: right;
}
.position-relative {
  position: relative !important;
}

.container-header {
  background: var(--lila-color);
  background: linear-gradient(45deg, var(--lila-color) 4%, var(--blue-dark) 100%);
  height: 100vh;
}
.container-header-inner {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: grid;
  grid-template-rows: 90px auto;
}
.container-header-inner > header {
  display: grid;
  align-items: center;
}
.container-image-text {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.img-header {
  height: 700px;
  position: absolute;
  bottom: -80px;
}
.header-text {
  position: absolute;
  bottom: 40%;
  right: 0;
  color: white;
  width: 500px;
}
.header-text > h2 {
  font-size: 0.7rem;
}
.header-text > h1 {
  font-weight: 900;
  font-size: 5rem;
  margin: 1rem 0 !important;
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#container-logo-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#container-logo-search > div > .text-logo {
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  margin-right: 2rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.form-control {
  width: 100%;
  border: none !important;
  padding: 10px;
  border-radius: 3px;
}
.container-menu-shop-card {
  display: grid;
  grid-template-columns: auto repeat(3, 40px);
  align-items: center;
  column-gap: 10px;
}
.button-circle {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(211, 211, 211, 0.4);
  border-radius: 20px;
  color: white;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.button-circle:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-heart:hover {
  color: red;
}
.count-product {
  height: 20px;
  width: 20px;
  background-color: var(--lila-color);
  color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 0.7rem;
}
.item-menu {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
/*------------------------------------- Parte: Fabian Miranda---------------------*/

.container-body-ventas{
  background: var(--white1);
}
.container-body-ventas-in{
  display: grid;
  grid-template-columns: auto repeat(1, 50%);
}
.container-body-ventas-inner{
  display: grid;
  grid-template-columns: auto repeat(2, 33%);
  grid-template-rows: 450px;
}

.item-image{
  height: 450px;
  position: absolute;
}

.item-body {
  height: 300px;
  width: 200px;
  background: var(--white);
  text-decoration: none;
  margin-left: 6rem;
  margin-top: 4rem;
  padding: 1rem;
}

.item-body-text:hover {
  width: 70px;
  padding: 1px 3px;
  box-shadow: var(--morado) 0px 10px;
}

.item-body2 {
  width: 350px;
  text-decoration: none;
  padding: 1rem;
}
.item-body3 {
  height: 28px;
  text-decoration: none;
}
.item-body > h2 {
  color: var(--oscuro);
  font-weight: 530;
  font-size: 2rem;
  margin: 1.5rem 0 !important;
}
.item-body > h3 {
  color: var(--plomo) ;
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0 !important;

}
.item-body2 > h3{
  color: var(--plomo);
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0 !important;
}
.item-body3 > h3{
  color: var(--oscuro);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 1rem 0 !important;
}
.derecha {
  display: grid;
  justify-content: right;
}
.btn-morado {
  color: var(--white);
  background-color: var(--lila-color) !important;
}
.descuento {
  color: var(--plomo);
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0 !important;
}
.titulo {
  width: 450px;
}
.titulo > h1 {
  display: grid;
  justify-content: center;
  color: var(--oscuro);
  font-weight: 600;
  font-size: 2.5rem;
  margin: 1rem 0 !important;
}

.titulo1 > h1 {
  display: grid;
  position: relative;
  justify-content: right;
  left: -100px;
  color: var(--oscuro) ;
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0 !important;
}
.count-producto {
  height: 70px;
  width: 70px;
  background-color: var(--lila-color);
  color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  right: 75px;
  top: 16px;
  font-weight: 550;
  font-size: 1.5rem;
}

.progreso-bar {
  border: 0.2px solid var(--lila-color);
  border-radius: 5px;
  margin: 1rem 0 !important;
}
.progreso-bar > div {
  color: var(--white);
  background: var(--lila-color);
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 13px;
  border-radius: 5px;
}

/*###############Estilos Seccion 02################*/
 
/*Marco Superior*/
.s-02-information {
  background: var(--white1);
  height: 25vh;
}

.s-02-i-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin-left: 5%;
}

.s-02-i-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: baseline;
  margin-top: 7%;
}

.s-02-i-i-img {
  margin-left: 40%;
  color: var(--lila-color);
  font-size: 2em;
}

/*Marco Inferior*/

.s-02-products {
  margin-left: 5%;
  width: 90%;
}

.s-02-p-details {
  height: 25%;
  text-align: center;
  margin-top: 60px;
}

.s-02-p-commodity {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 57%;
  margin-top: 5%;
}

.s-02-p-c-img {
  text-align: center;
}

p {
  color: var(--plomo);
}